# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# macOS
.Trash-*
*.DS_Store

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Environment Variables
*.env
.env

# Crash logs
*.crash

# Flame & Game Dev specific (Optional but recommended)
# Ignore raw assets folder if you keep standard formats (Aseprite, PSD, WAV) out of version control
/raw_assets/
*.ase
*.aseprite
CLAUDE.md
.claude/*
EXECUTION_PLAN.md
.claude/settings.local.json